/* Fonts */

@font-face {
  font-family: 'Chivo';
  src: url('/fonts/Chivo/Chivo-Regular.ttf') format('truetype');
}

/* Base Elements */

* {
	color: #fff;
	font-family: 'Consolas', monospace;
}

html {
    background-color: #131314;
}

body {
	margin: auto;
    padding: 10px;
	position: relative;
	width: 720px;
    overflow-x: hidden;
}

@media screen and (max-width: 740px){
    body {
        width: auto;
        min-width: 440px;
        padding: 10px 40px;
    }
    
    .card-holder {
        display: flex;
        width: auto;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .box#web,
    .box#code, 
    .box#design{
        margin-bottom: 10px;
        min-width: calc(100vw * 0.2);
        height: 180px;
        padding: 10px;
    }
    
    .socials-center{
        display: none;
    }
    
    .mobile-socials-center{
        margin-top: 20px;
        display: flex;
        visibility: visible;
    }
    
    .mobile-socials-center {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        visibility: visible;
}

    .mobile-socials-card{
        display: flex;
        position: relative;
        min-width: 25vw;
        height: 3vh;
        margin: 2rem 0.6rem;
        color: white;
    }

    .mobile-socials i {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        transition: ease-in-out margin 0.1s;
    }
    .mobile-content {
      position: absolute;
        top: 30px; right: 10px;
        margin: 0;
        text-align: right;
        opacity: 0.8;
    }

    .mobile-socials i:hover { margin-top: 7px; }

}

footer {
	margin-top: 50px;
    margin-bottom: 50px;
	text-align: center;
	font-size: 0.8em;
}

::-moz-selection {
	background: rgba(28, 3, 252, .5);
}
::selection {
	background: rgba(28, 3, 252, .5);
}

/* Text Elements */
h1#name {
    font-family: 'Chivo', sans-serif;
    font-size: 1.85em;
    margin-bottom: 8px;
}

h2#cards {
    font-family: 'Chivo', sans-serif;
    font-size: 1.10em;
}

h2#space {
    margin: 30px 0 0 0;
    text-decoration: underline;
}
h3 { margin: 0; }

h5 { margin: 10px 0; }

ul {
	margin: 0;
	padding: 0 15px;
}

a {
	color: rgb(182, 182, 182);
	text-decoration: none;
	transition: ease-in-out opacity 0.1s;
}

a {
    text-decoration: underline;
}

a:hover { opacity: 0.5; }

p {
    font-size: 14px;
}

p#desc {
	margin: 35px 0;
	text-align: justify;
    line-height: 1.25em;
    font-size: 15px;
}

/* Sections Elements */
li#body{
    font-size: 14px;
}

#intro.console-underscore {
	display: inline-block;
	position: relative;
	top: -0.14em;
	left: -5px;
}

#intro.hidden {
  opacity: 0;
}

#work div,
#education div,
#links .container div
{
	margin: 15px 0;
	padding-left: 15px;
	border-left: 2px solid rgb(50, 50, 50);
}

#education ul { padding: 5px 0 0 30px; }
#education li { padding: 5px 0 0 0; }
#education details { padding: 10px 0 0 15px;}
#education details summary:hover {
	opacity: 0.5;
	cursor: pointer;
}

#links .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#links .container div { width: 45%; }
#links .container div ul { margin-left: 15px; }

.date {
	margin: 5px 0;
	font-size: 0.9em;
	letter-spacing: 1.5px;
	color:rgb(170, 170, 170);
}

.desc {
	font-size: 0.7em;
	color: rgb(200, 200, 200);
}

.course {
    font-size: 0.7em;
	text-transform: uppercase;
	color: rgb(200, 200, 200);
}

/* Social Elements */
img{
    float: left;
    width: 75px;
    height: 75px;
    margin: 12px 12px 12px 0px;
}

.mobile-socials-center {
    visibility: hidden;
    width:0; height:0;
}

.socials-center {
	position: absolute;
	top: 20px; right: 0;
}
.socials {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.socials i {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	transition: ease-in-out margin 0.1s;
}

#content {
  position: absolute;
    top: 30px; right: 10px;
	margin: 0;
	text-align: right;
	opacity: 0.8;
}

.socials i:hover { margin-top: 7px; }

/* Structural Elements */

.card{
    height: 175px;
    width: 25%;
	overflow: hidden;
    padding: 10px 25px 10px 25px;
	background-color: #121212;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.card#web{
    background-color: red;
}

.card#code{
    background-color: blue;
}

.card#design{
    background-color: green;
}

.card:hover{
	box-shadow: 0 15px 20px rgb(139, 139, 139);
}

.card-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}


.box {
    height: 140px;
    width: 25%;
    overflow: hidden;
    background-color: #1d1d1d;
    border-radius: 0 10px 10px 0;
    margin: auto;
    padding: 10px 25px 10px 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.25s cubic-bezier(.25,.8,.25,1);
}

.box:hover#web {
  animation-name: example;
  animation-duration: 0.1s;
  border-left: 8px solid;
  border-image-source: linear-gradient(#CB356B, #e11038);
  border-image-slice: 1;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background: linear-gradient(180deg, rgba(40,40,40,1) 0%, rgba(29,29,29,1) 85%);
}

.box:hover#code {
  animation-name: example;
  animation-duration: 0.1s;
  border-left: 8px solid;
  border-image-source: linear-gradient(#00B4DB, #004DB0);
  border-image-slice: 1;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background: linear-gradient(180deg, rgba(40,40,40,1) 0%, rgba(29,29,29,1) 85%);
}

.box:hover#design {
  animation-name: example;
  animation-duration: 0.1s;
  border-left: 8px solid;
  border-image-source: linear-gradient(#38ef7d, #008e59);
  border-image-slice: 1;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background: linear-gradient(180deg, rgba(40,40,40,1) 0%, rgba(29,29,29,1) 85%);
}

/**
 * Tooltip Styles, adapted from Chris Bracco.
 */

/* Base styles for the element that has a tooltip */

[data-tooltip], .tooltip {
	position: relative;
	cursor: pointer;
}
/* Base styles for the entire tooltip */

[data-tooltip]:before, [data-tooltip]:after, .tooltip:before, .tooltip:after {
	position: absolute;
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	pointer-events: none;
}
/* Show the entire tooltip on hover and focus */

[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after, .tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
/* Base styles for the tooltip's directional arrow */

.tooltip:before, [data-tooltip]:before {
	z-index: 1001;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}
/* Base styles for the tooltip's content area */

.tooltip:after, [data-tooltip]:after {
	z-index: 1000;
	padding: 10px;
	width: 160px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	font-size: 14px;
	line-height: 1.2;
}
/* Directions */

/* Top (default) */

[data-tooltip]:before, [data-tooltip]:after, .tooltip:before, .tooltip:after, .tooltip-top:before, .tooltip-top:after {
	bottom: 100%;
	left: 50%;
}
[data-tooltip]:before, .tooltip:before, .tooltip-top:before {
	margin-left: -6px;
	margin-bottom: -12px;
	border-top-color: #000;
	border-top-color: hsla(0, 0%, 20%, 0.9);
}
/* Horizontally align top/bottom tooltips */

[data-tooltip]:after, .tooltip:after, .tooltip-top:after {
	margin-left: -80px;
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after, .tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after, .tooltip-top:hover:before, .tooltip-top:hover:after, .tooltip-top:focus:before, .tooltip-top:focus:after {
	-webkit-transform: translateY(-12px);
	-moz-transform: translateY(-12px);
	transform: translateY(-12px);
}
/* Bottom */

.tooltip-bottom:before, .tooltip-bottom:after {
	top: 100%;
	bottom: auto;
	left: 50%;
}
.tooltip-bottom:before {
	margin-top: -12px;
	margin-bottom: 0;
	border-top-color: transparent;
	border-bottom-color: #000;
	border-bottom-color: hsla(0, 0%, 20%, 0.9);
}
.tooltip-bottom:hover:before, .tooltip-bottom:hover:after, .tooltip-bottom:focus:before, .tooltip-bottom:focus:after {
	-webkit-transform: translateY(12px);
	-moz-transform: translateY(12px);
	transform: translateY(12px);
}
/* Right */

.tooltip-right:before, .tooltip-right:after {
	bottom: 50%;
	left: 100%;
}
.tooltip-right:before {
	margin-bottom: 0;
	margin-left: -12px;
	border-top-color: transparent;
	border-right-color: #000;
	border-right-color: hsla(0, 0%, 20%, 0.9);
}
.tooltip-right:hover:before, .tooltip-right:hover:after, .tooltip-right:focus:before, .tooltip-right:focus:after {
	-webkit-transform: translateX(12px);
	-moz-transform: translateX(12px);
	transform: translateX(12px);
}
/* Move directional arrows down a bit for left/right tooltips */

.tooltip-left:before, .tooltip-right:before {
	top: 3px;
}
/* Vertically center tooltip content for left/right tooltips */

.tooltip-left:after, .tooltip-right:after {
	margin-left: 0;
	margin-bottom: -16px;
}

/* Mobile Social Elems */
.mobile-socials-center {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.mobile-socials-card{
    display: flex;
    position: relative;
    min-width: 25vw;
    height: 3vh;
    margin: 0.6rem;
    background-color: white;
}

.mobile-socials i {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	transition: ease-in-out margin 0.1s;
}
.mobile-content {
  position: absolute;
    top: 30px; right: 10px;
	margin: 0;
	text-align: right;
	opacity: 0.8;
}

.mobile-socials i:hover { margin-top: 7px; }
